<template>
  <div id="faq-extract" class="small-container">
    <MascotQuestion class="mascot-question"></MascotQuestion>

    <h2>
      <SafeHTML>
        {{ $gettext('<strong>Questions?</strong> We guide you!', true) }}
      </SafeHTML>
    </h2>

    <div class="small-separator"></div>

    <div class="jpt-accordion faq-list" role="tablist">
      <slot></slot>
    </div>

    <div class="bottom-links">
      <router-link class="jpt-link-button jpt-primary-button" to="/faq">
        {{ $gettext('See more questions') }}
      </router-link>

      <a class="jpt-link-button jpt-secondary-button" href="https://framacolibri.org/c/peertube" target="_blank" rel="noopener noreferrer">
        <span>{{ $gettext('Go to the PeerTube forum') }}</span>
      </a>
    </div>
  </div>
</template>

<script>
  import MascotQuestion from '../../svg/mascot/question.svg'

  import { defineComponent } from 'vue'

  export default defineComponent({
    components: {
      MascotQuestion
    }
  })
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables.scss';
  @import '../../scss/_mixins.scss';
  @import '../../scss/_bootstrap-mixins.scss';

  #faq-extract {
    @include margin-top(4rem);

    .mascot-question {
      margin: 20px auto;
      display: block;
    }

    > .small-separator {
      margin: auto;
    }

    > h2,
    > .bottom-links {
      text-align: center;
    }

    .faq-list {
      margin-top: 40px;
    }

    .bottom-links {
      > * {
        @include margin-top(2.5rem);
        @include rfs(1rem 2rem, margin);
      }
    }
  }
</style>
