<template>
  <accordion-element id="Is PeerTube GDPR compatible?">
    <template #title>
      {{ $gettext('Is PeerTube GDPR compatible?') }}
    </template>

    <div>
      <p>{{ $gettext('Yes, core PeerTube (PeerTube without installed plugins/themes) is compatible with GDPR:') }}</p>

      <ul>
        <li>{{ $gettext('P2P can be disabled by default') }}</li>
        <li>{{ $gettext('It doesn\'t send personal data to any third party if P2P is disabled') }}</li>
        <li>{{ $gettext('Users can delete their account') }}</li>
        <li>{{ $gettext('Users can export their data and reimport it in another instance (in PeerTube >= 6.1)') }}</li>
        <li>
          <SafeHTML>
            {{ $gettext('PeerTube provides a <a href="https://docs.joinpeertube.org/admin/privacy-guide">privacy guide</a> to help admins to fill their <em>Terms</em>', true) }}
          </SafeHTML>
        </li>
      </ul>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
