<template>
  <accordion-element id="Does PeerTube support horizontal scaling?">
    <template #title>
      {{ $gettext('Does PeerTube support horizontal scaling?') }}
    </template>

    <div>
      <p>
        {{ $gettext('At the moment, you can\'t deploy multiple PeerTube nodes behind a load balancer.') }}
      </p>

      <p>
        <SafeHTML>
          {{ $gettext('But some pars of PeerTube can be horizontally scaled to bypass the following limits, as described in our <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/maintain/configuration#scalability">scalability guide</a>:') }}
        </SafeHTML>
      </p>

      <ul>
        <li>
          <SafeHTML>
            {{
              $gettext('Bandwidth: can be mitigated using <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/admin/following-instances#instances-redundancy">PeerTube redundancy system</a> and cache servers that serve video static files in front of your PeerTube instance', true)
            }}
          </SafeHTML>
        </li>

        <li>
          <SafeHTML>
            {{
              $gettext('Storage: can be mitigated using <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/maintain/remote-storage">S3/Object storage</a>', true)
            }}
          </SafeHTML>
        </li>

        <li>
          <SafeHTML>
            {{
              $gettext('Video transcoding: can be mitigated using <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/admin/remote-runners">remote transcoding</a> by remote workers', true)
            }}
          </SafeHTML>
        </li>
      </ul>

      <p>
        <SafeHTML>
          {{ $gettext('If you notice performance problems or a bottleneck at your scale, don\'t hesitate to <a target="_blank" rel="noopener noreferrer" href="https://github.com/Chocobozzz/PeerTube/issues/new/choose">create an issue</a> to discuss it.', true) }}
        </SafeHTML>
      </p>
    </div>

  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
