<template>
  <accordion-element id="How do I install my own PeerTube platform?">
    <template #title>
      {{ $gettext('How do I install my own PeerTube platform?') }}
    </template>

    <div>
      <p>
        <SafeHTML>
          {{ $gettext('The <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/install/any-os">installation guide is here</a> (only in English).', true) }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
