<template>
  <main id="instances">
    <div class="title-block">
      <h1>
        <strong>{{ $gettext('Find a PeerTube platform') }}</strong>
      </h1>

      <div class="small-separator"></div>
    </div>

    <instances-list></instances-list>
  </main>
</template>

<script>
  import { defineComponent } from 'vue'

  import { useGettext } from 'vue3-gettext'
  import { useHead } from '@vueuse/head'

  import InstancesList from '../components/InstancesList.vue'

  import { buildHead } from '../shared/head'

  export default defineComponent({
    components: {
      InstancesList
    },

    setup () {
      const { $gettext } = useGettext()

      return useHead(buildHead({
        title: $gettext('Find a PeerTube platform'),
        url: import.meta.env.VITE_URL + '/instances',
        description: $gettext(
          'Find and create an account among a list of existing PeerTube platforms. Filter PeerTube platforms according to your preferences: by theme, category or language!'
        )
      }))
    }
  })
</script>
