<template>
  <main id="not-found">

    <MascotDefeated></MascotDefeated>

    <div class="not-found-text">
      {{ $gettext('Page not found') }}
    </div>

    <p class="link-block">
      <router-link to="/">
        {{ $gettext('Go back to the homepage') }}
      </router-link>
    </p>
  </main>
</template>

<script>
  import { defineComponent } from 'vue'

  import { useGettext } from 'vue3-gettext'
  import { useHead } from '@vueuse/head'

  import { buildHeadTitle } from '../shared/head'

  import MascotDefeated from '../svg/mascot/defeated.svg'

  export default defineComponent({
    components: {
      MascotDefeated
    },
    setup () {
      const { $gettext } = useGettext()

      return useHead(buildHeadTitle($gettext('Page not found')))
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';

  #not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    svg {
      margin-bottom: 50px;
    }

    .not-found-text {
      font-size: 25px;
    }

    .link-block {
      margin-top: 30px;
    }
  }
</style>
