<template>
  <div class="channel card">
    <a
      class="image-container"
      target="_blank"
      rel="nofollow noreferrer noopener"
      :href="channel.url"
      :title="discoverChannelMessage"
    >
      <img
        v-if="hasAvatar()"
        :src="getAvatarUrl()"
        alt=""
      >
      <img
        v-else
        src="/img/default-avatar.png"
        alt=""
      >
    </a>

    <div class="flex-grow-1">
      <h4>
        <strong>
          <a
            target="_blank"
            rel="nofollow noreferrer noopener"
            class="wrap-text"
            :href="channel.url"
            :title="discoverChannelMessage"
          >{{ channel.displayName }}</a>
        </strong>
      </h4>

      <div class="small-separator"></div>

      <!-- eslint-disable vue/no-v-html -->
      <div
        class="description wrap-text mb-3"
        v-html="descriptionHTML"
      ></div>
      <!-- eslint-enable -->

      <div class="metadata">
        <div>
          <label>{{ $ngettext('%{videosCount} video', '%{videosCount} videos', channel.videosCount, { videosCount: channel.videosCount }) }}</label>
        </div>

        <div>
          <label>{{ $gettext('Channel created on platform') }}</label>

          <a class="jpt-router-link" target="_blank" rel="nofollow noreferrer noopener" :href="platformUrl">{{ host }}</a>
        </div>
      </div>

      <div class="button-link-container">
        <a
          class="jpt-primary-button jpt-smaller-button"
          target="_blank"
          rel="nofollow noreferrer noopener"
          :href="channel.url"
        >
          {{ discoverChannelMessage }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'
  import { findAppropriateImageByWidth } from '../../shared/utils'

  export default defineComponent({
    props: {
      channel: Object
    },

    data () {
      return {
        descriptionHTML: ''
      }
    },

    computed: {
      host () {
        const url = this.channel.url

        return new URL(url).host
      },

      platformUrl () {
        const url = this.channel.url

        const parsed = new URL(url)

        return parsed.protocol + '//' + parsed.host
      },

      discoverChannelMessage () {
        return this.$gettext('Discover this channel on %{host}', { host: this.host })
      }
    },

    mounted () {
      this.lazyRenderMarkdown(this.channel.description)
        .then(html => this.descriptionHTML = html)
    },

    methods: {
      hasAvatar () {
        if (this.channel.avatar) return true

        if (!Array.isArray(this.channel.avatars)) return false

        return this.channel.avatars.length !== 0
      },

      getAvatarUrl () {
        if (!this.hasAvatar()) return ''

        if (!Array.isArray(this.channel.avatars)) {
          if (!this.channel.avatar) return ''

          return this.channel.avatar.url
        }

        return findAppropriateImageByWidth(this.channel.avatars, 140).url
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables';
  @import '../../scss/_mixins';
  @import '../../scss/bootstrap-mixins.scss';

  .channel {
    @include browse-content-card-result;

    .image-container {
      img {
        object-fit: cover;
        max-width: 140px;
        max-height: 140px;
        min-width: 140px;
        min-height: 140px;
        box-shadow: 4px 4px 0 0 $beige-700;
        border-radius: 5px;
      }
    }
  }
</style>
