<template>
  <accordion-element id="What are the main advantages of PeerTube?">
    <template #title>
      {{ $gettext('What are the main advantages of PeerTube?') }}
    </template>

    <div>
      <p>
        {{ $gettext('PeerTube is unique because (as far as we know) it\'s the only video hosting web application which combines three advantages:') }}
      </p>

      <div>
        <h4>{{ $gettext('An open code under a free/libre license') }}</h4>

        <ul>
          <li>{{ $gettext('PeerTube is freely provided, no need to pay to install it on your server;') }}</li>
          <li>{{ $gettext('We can look under the hood of PeerTube (its source code): it\'s auditable, transparent;') }}</li>
          <li>{{ $gettext('It can be enhanced by everyone\'s contributions.') }}</li>
        </ul>
      </div>

      <div>
        <h4>{{ $gettext('A federation of interconnected hosting providers') }}</h4>

        <ul>
          <li>{{ $gettext('It decentralizes video storage and decision-making power;') }}</li>
          <li>{{ $gettext('We can display videos and accounts of other PeerTube websites;') }}</li>
          <li>
            <SafeHTML>
              {{ $gettext('It\'s based on <a target="_blank" rel="noopener noreferrer" href="https://activitypub.rocks">ActivityPub</a> to connect with tools <a target="_blank" rel="noopener noreferrer" href="https://peertube.cpy.re/videos/watch/da2b08d4-a242-4170-b32a-4ec8cbdca701">like Mastodon</a> for example.', true) }}
            </SafeHTML>
          </li>
        </ul>
      </div>

      <h4>{{ $gettext('Peer-to-peer broadcasting') }}</h4>

      <ul>
        <li>{{ $gettext('It reduces server bandwidth overload if a video becomes viral;') }}</li>
        <li>{{ $gettext('We become an actor of the video broadcasting;') }}</li>
        <li>
          <SafeHTML>
            {{ $gettext('It\'s based on <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/WebRTC">WebRTC</a>, a free and open-source project for web browsers.', true) }}
          </SafeHTML>
        </li>
      </ul>

    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
