<template>
  <accordion-element id="Who is working on PeerTube?">
    <template #title>
      {{ $gettext('Who is working on PeerTube?') }}
    </template>

    <div>
      <p>
        <SafeHTML>
          {{ $gettext('PeerTube is developed by <a target="_blank" rel="noopener noreferrer" href="https://framasoft.org">Framasoft</a>, a French non-profit popular educational organization on digital issues.', true) }}
        </SafeHTML>
      </p>

      <p>
        <SafeHTML>
          {{ $gettext('It employs a developer, <a target="_blank" rel="noopener noreferrer" href="https://github.com/Chocobozzz">Chocobozzz</a>, who works since 2018 on PeerTube projects:', true) }}
        </SafeHTML>
      </p>

      <ul>
        <li>{{ $gettext('Development of new features and software maintenance;') }}</li>
        <li>{{ $gettext('Thoughts on the architecture, the design and the future of PeerTube;') }}</li>
        <li>{{ $gettext('New stable releases preparation and communication (blog posts, changelog, etc.);') }}</li>
        <li>
          <SafeHTML>
            {{ $gettext('<a target="_blank" rel="noopener noreferrer" href="https://joinpeertube.org">Official PeerTube website</a> development and maintenance;', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<a target="_blank" rel="noopener noreferrer" href="https://packages.joinpeertube.org/api/v1/ping">PeerTube plugins index</a> development and maintenance;', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<a target="_blank" rel="noopener noreferrer" href="https://instances.joinpeertube.org">PeerTube instances index</a> development and maintenance;', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<a target="_blank" rel="noopener noreferrer" href="https://search.joinpeertube.org/">PeerTube videos/channels search index</a> development and maintenance;', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org">PeerTube documentation website</a> development and maintenance;', true) }}
          </SafeHTML>
        </li>
        <li>{{ $gettext('PeerTube support and discussions on bugtrackers, forum, IRC or by email;') }}</li>
        <li>{{ $gettext('Pull requests/merge requests reviews, merges, and support of features added by external contributions (bug fixes, documentation, refactor, etc.);') }}</li>
        <li>{{ $gettext('Maintenance of several PeerTube plaftorms (peertube.cpy.re, peertube2.cpy.re, etc.).') }}</li>
      </ul>

      <p>
        <SafeHTML>
          {{ $gettext('Moreover, Chocobozzz works on internal Framasoft\'s projects (<a target="_blank" rel="noopener noreferrer" href="https://framapad.org">Framapad</a>, <a target="_blank" rel="noopener noreferrer" href="https://framatalk.org">Framatalk</a>, etc.).', true) }}
        </SafeHTML>

        {{ $gettext('In other words, the management of PeerTube projects is operated by only one employee, who has other responsabilities in addition to his workload.') }}
      </p>

      <p>
        {{ $gettext('Other Framasoft\'s volunteers and salaried members also contribute to the PeerTube project on various aspects (strategy, communication, development, community animation).') }}

        {{ $gettext('Nevertheless, PeerTube is not developed by a startup with a team of 50 people, and a workflow full of hyper-formatted processes.') }}
      </p>

      <p>
        {{ $gettext('Framasoft will therefore takes the time to improve the software progressively, at its own pace and with its atypical methods which, so far, have proven to be rather effective.') }}
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
