<template>
  <header id="main-header">

    <div class="text-center">
      <a class="visually-hidden-focusable" href="#main-content">Skip to main content</a>
    </div>

    <div class="navbar navbar-expand-lg">
      <div class="container">
          <router-link class="navbar-brand" to="/">
            <LogoWithFramasoft></LogoWithFramasoft>
          </router-link>

          <button
            class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#nav-collapse" aria-controls="nav-collapse" aria-expanded="false" aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="nav-collapse" class="collapse navbar-collapse menu-links">
            <ul class="row-1 navbar-nav">

              <li class="nav-item">
                <I18n class="i18n" />
              </li>

              <li class="nav-item">
                <a :title="$gettext('Forum')" href="https://framacolibri.org/c/peertube" target="_blank" rel="noopener noreferrer">
                  <span>{{ $gettext('Forum') }}</span>
                </a>
              </li>

              <li class="nav-item">
                <router-link :title="$gettext('News')" to="/news" :class="{ 'jpt-link-active': isLinkActive('/news') }">
                  <span>{{ $gettext('News') }}</span>
                </router-link>
              </li>

              <li class="nav-item d-flex icons">
                <a class="me-2" href="https://framapiaf.org/@peertube" target="_blank" rel="noopener noreferrer" :title="$gettext('Go on JoinPeerTube Mastodon profile')">
                  <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.1912 13.5994C18.9089 15.088 16.6634 16.717 14.0843 17.0327C12.7394 17.1972 11.4153 17.3484 10.0033 17.282C7.69425 17.1736 5.87218 16.717 5.87218 16.717C5.87218 16.9475 5.88605 17.1669 5.91377 17.3721C6.21396 19.7083 8.17342 19.8482 10.0295 19.9135C11.9029 19.9792 13.571 19.44 13.571 19.44L13.648 21.1763C13.648 21.1763 12.3377 21.8976 10.0033 22.0303C8.71616 22.1028 7.11789 21.9971 5.25635 21.492C1.21902 20.3964 0.52764 15.9844 0.418428 11.5079C0.386028 10.1787 0.405965 8.9254 0.406028 7.87718C0.406153 3.29958 3.33164 1.9578 3.33164 1.9578C4.80678 1.26326 7.33804 0.971199 9.96955 0.949158H10.0342C12.6657 0.971212 15.1986 1.26326 16.6737 1.9578C16.6737 1.9578 19.5992 3.29957 19.5992 7.87718C19.5992 7.87718 19.6359 11.2546 19.1912 13.5994ZM16.1483 8.2323C16.1483 7.09948 15.8769 6.19028 15.3019 5.5333C14.7191 4.8673 13.9558 4.5259 13.0086 4.5259C11.9123 4.5259 11.0823 4.9578 10.5335 5.82173L9.9999 6.73863L9.46636 5.82175C8.91752 4.95778 8.08745 4.52588 6.99132 4.52588C6.04393 4.52588 5.28071 4.86729 4.69795 5.53329C4.13283 6.1993 3.85148 7.09948 3.85148 8.23228V13.775H5.99346V8.39522C5.99346 7.26115 6.45889 6.68556 7.38987 6.68556C8.41925 6.68556 8.93525 7.36836 8.93525 8.71855V11.6632H11.0646V8.71856C11.0646 7.36837 11.5805 6.68557 12.6099 6.68557C13.5408 6.68557 14.0063 7.26116 14.0063 8.39523V13.775H16.1483V8.23231L16.1483 8.2323Z" fill="currentColor" />
                  </svg>
                </a>

                <a href="https://twitter.com/joinpeertube" target="_blank" rel="noopener noreferrer" :title="$gettext('Go on JoinPeerTube Twitter profile')">
                  <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5999 2.42651C18.8921 2.74075 18.1335 2.95174 17.3359 3.04751C18.1499 2.55969 18.7754 1.78756 19.0687 0.868787C18.3085 1.3192 17.4631 1.6469 16.5667 1.82347C15.8485 1.05733 14.825 0.579987 13.6922 0.579987C11.5165 0.579987 9.75225 2.34272 9.75225 4.51845C9.75225 4.8267 9.78817 5.12747 9.8555 5.41627C6.58143 5.25167 3.67996 3.68347 1.73617 1.29974C1.39649 1.88333 1.20346 2.55969 1.20346 3.28095C1.20346 4.64714 1.89777 5.85322 2.95571 6.561C2.30928 6.54005 1.70175 6.36198 1.17054 6.0672C1.17054 6.08366 1.17054 6.10012 1.17054 6.11658C1.17054 8.02595 2.52925 9.6166 4.32939 9.98022C4.00018 10.07 3.65153 10.1179 3.2924 10.1179C3.03801 10.1179 2.79111 10.0939 2.55019 10.0461C3.05298 11.6098 4.50745 12.7515 6.22978 12.7829C4.88304 13.8394 3.18466 14.4679 1.33813 14.4679C1.0194 14.4679 0.70666 14.4499 0.399902 14.4125C2.14168 15.5318 4.21267 16.1827 6.43778 16.1827C13.6832 16.1827 17.6456 10.1807 17.6456 4.97634C17.6456 4.80575 17.6411 4.63367 17.6352 4.46607C18.4043 3.91092 19.0717 3.2166 19.5999 2.42651Z" fill="currentColor" />
                  </svg>
                </a>
              </li>
            </ul>

            <ul class="row-2 navbar-nav">

              <li class="nav-item">
                <router-link :title="$gettext('What is PeerTube?')" to="/" :class="{ 'jpt-link-active': isLinkActive('/') || isLinkActive('') }">
                  <span>{{ $gettext('What is PeerTube?') }}</span>
                </router-link>
              </li>

              <li class="nav-item">
                <router-link :title="$gettext('Browse content')" to="/browse-content" :class="{ 'jpt-link-active': isLinkActive('/browse-content') }">
                  <span>{{ $gettext('Browse content') }}</span>
                </router-link>
              </li>

              <li class="nav-item">
                <router-link :title="$gettext('Publish videos')" to="/publish-videos" :class="{ 'jpt-link-active': isLinkActive('/publish-videos') }">
                  <span>{{ $gettext('Publish videos') }}</span>
                </router-link>
              </li>

              <li class="nav-item">
                <router-link :title="$gettext('FAQ')" to="/faq" :class="{ 'jpt-link-active': isLinkActive('/faq') }">
                  <span>{{ $gettext('FAQ') }}</span>
                </router-link>
              </li>

              <li class="nav-item">
                <router-link :title="$gettext('Contribute')" class="contribute-button" to="/contribute" :class="{ 'jpt-link-active': isLinkActive('/contribute') }">
                  <span>{{ $gettext('Contribute') }}</span>
                </router-link>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </header>
</template>

<script>
  import { defineComponent } from 'vue'

  import I18n from './I18n.vue'
  import LogoWithFramasoft from './LogoWithFramasoft.vue'

  export default defineComponent({
    components: {
      I18n,
      LogoWithFramasoft
    },

    mounted () {
      import('bootstrap/js/dist/collapse')
        .then(Collapse => new Collapse.default(this.$el.querySelector('.collapse'), { toggle: false }))
    },

    methods: {
      isLinkActive (link) {
        const current = this.$router.currentRoute.value.path

        return link === current || `/${this.$language.current}${link}` === current  || `/${this.getCurrentShortLocale()}${link}` === current
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';
  @import '../scss/_mixins.scss';
  @import '../scss/_bootstrap-mixins.scss';

  #main-header {
    @include padding-bottom(1.5rem);

    border-bottom: 1px solid $beige-500;
    background-color: $beige-500;

    .navbar-nav {
      align-items: center;
    }

    .navbar-brand {
      @include disable-default-a-behaviour;

      font-size: inherit;
    }

    .jpt-link-active:not(.contribute-button) {
      border-bottom: 3px solid $orange-main;
      margin-bottom: -3px;
      font-weight: 700;
      color: $main-font-color !important;
    }

    .contribute-button {
      @include jpt-smaller-button;

      &:not(.jpt-link-active) {
        @include jpt-primary-button;
      }

      &.jpt-link-active {
        @include jpt-secondary-button;
      }
    }

    .menu-links {
      margin-inline-start: auto;
      flex-direction: column;
      align-items: flex-end;

      // Prevent layout shifting on bold
      .row-1 > a,
      .nav-item:not(.icons) a {
        display: inline-block;

        &::before {
          display: block;
          content: attr(title);
          font-weight: bold;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }
      }

      .row-1,
      .row-2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
      }

      .row-1 {
        margin-bottom: 0.75rem;

        div,
        a {
          color: $secondary-font-color;
          transition: color 0.1s;

          &:hover {
            color: $main-font-color;
          }
        }
      }

      .row-2 {
        .nav-item a {
          transition: opacity 0.1s;
          opacity: 0.8;

          &:not(.contribute-button) {
            color: $main-font-color;
          }

          &:hover,
          &.jpt-link-active,
          &.contribute-button {
            opacity: 1;
          }
        }
      }

      .i18n {
        margin-bottom: -1px;
      }

      --margin-inline-end-nav-item: 25px;
      --margin-bottom-nav-item: 25px;

      .row-1  > *:not(:last-child),
      .row-2 .nav-item:not(:last-child) {
        margin-inline-end: var(--margin-inline-end-nav-item);
      }

      &.collapsing,
      &.show {
        --margin-inline-end-nav-item: 0;

        padding-top: 20px;

        .nav-item {
          margin-top: 10px;
        }
      }
    }
  }
</style>
