<template>
  <div id="i18n">
    <div class="dropdown">
      <button :title="getButtonTitle()" class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.3224 7.63897H14.938V3.20084C14.9369 2.485 14.6536 1.79852 14.1502 1.29218C13.6468 0.785967 12.9643 0.501088 12.2524 0.5H2.68561C1.97365 0.501062 1.29113 0.785949 0.787804 1.29218C0.284295 1.79857 0.0010379 2.485 1.32052e-06 3.20084V9.21752C-0.000526841 9.75029 0.15739 10.271 0.453483 10.7128C1.39993 12.5451 5.76529 15.254 5.81261 15.2817C5.90574 15.3375 6.0119 15.3676 6.12017 15.369C6.31735 15.3708 6.5022 15.2728 6.61259 15.1085C6.7228 14.9442 6.74375 14.7351 6.6684 14.5519C6.35133 13.6909 6.10594 12.8047 5.93482 11.9026H9.08963V16.3446C9.09069 17.0569 9.37149 17.7398 9.87076 18.245C10.3699 18.75 11.0473 19.0362 11.7555 19.0415H18.0652C17.8937 19.9408 17.6483 20.8243 17.3316 21.6829C17.2562 21.8661 17.2772 22.0752 17.3874 22.2395C17.4978 22.404 17.6826 22.5017 17.8798 22.5C17.9883 22.4986 18.0942 22.4685 18.1874 22.4127C18.2347 22.3849 22.6002 19.6761 23.5465 17.8437C23.8433 17.4009 24.0014 16.8788 24 16.3446V10.3397C23.9989 9.6251 23.7167 8.93989 23.215 8.43386C22.7132 7.92784 22.0328 7.64205 21.3223 7.63888L21.3224 7.63897ZM7.85946 10.7127H5.22505C5.05235 10.7151 4.8888 10.7916 4.77559 10.9228C4.6638 11.0542 4.61486 11.2281 4.64144 11.3988C4.64144 11.4544 4.78334 12.3149 5.03579 13.3383C3.71086 12.4101 1.96778 11.0616 1.48663 10.1654C1.47096 10.1264 1.45106 10.0891 1.42747 10.0544C1.25002 9.80454 1.15618 9.5046 1.15935 9.1976V3.20086C1.16041 2.79629 1.3222 2.40905 1.60898 2.12508C1.89559 1.84126 2.28326 1.68456 2.68554 1.68987H12.2523C12.6505 1.69093 13.032 1.85046 13.3135 2.13358C13.5952 2.41669 13.7538 2.80056 13.7549 3.20089V7.63901H11.7555C10.9814 7.64008 10.2455 7.97684 9.73637 8.56309C9.31755 8.54981 8.90454 8.45987 8.51776 8.29733C9.13975 7.5105 9.5195 6.55791 9.61014 5.55682H9.92966C10.2562 5.55682 10.5212 5.29053 10.5212 4.96191C10.5212 4.63329 10.2562 4.367 9.92966 4.367H8.06035V3.30803C8.06035 2.97958 7.79557 2.71311 7.46882 2.71311C7.14207 2.71311 6.87729 2.97958 6.87729 3.30803V4.367H5.03565C4.70907 4.367 4.44412 4.63329 4.44412 4.96191C4.44412 5.29053 4.70907 5.55682 5.03565 5.55682H8.41914C8.33569 6.31446 8.03412 7.03117 7.55157 7.61919C7.20598 7.23303 6.93822 6.78314 6.76286 6.29443C6.64526 5.98776 6.30284 5.83513 5.99791 5.95341C5.69297 6.0717 5.54105 6.41625 5.65866 6.72293C5.87292 7.30121 6.18525 7.83806 6.58154 8.30936C6.09687 8.50572 5.57772 8.60133 5.05537 8.59088C4.7288 8.59088 4.46384 8.85718 4.46384 9.1858C4.46384 9.51442 4.7288 9.78071 5.05537 9.78071C5.93155 9.79789 6.79525 9.57143 7.5516 9.12628C8.03942 9.42569 8.58291 9.62134 9.14874 9.70139C9.09664 9.9089 9.07023 10.1219 9.06987 10.336V10.7326L7.85946 10.7127ZM22.8448 16.3445C22.848 16.6514 22.754 16.9515 22.5765 17.2011C22.5531 17.2346 22.5332 17.2705 22.5174 17.3082C22.0521 18.1967 20.3051 19.5491 18.9682 20.4811C19.2325 19.4579 19.3626 18.5972 19.3626 18.5416V18.5418C19.3893 18.3709 19.3404 18.1971 19.2286 18.0659C19.1175 17.9332 18.9552 17.8553 18.783 17.8516H11.7554C11.3576 17.8516 10.9761 17.693 10.6944 17.4104C10.4127 17.128 10.2539 16.7446 10.2528 16.3445V10.3396C10.2539 9.93927 10.4125 9.55539 10.6942 9.27228C10.9757 8.98917 11.3572 8.82964 11.7554 8.82857H21.3222C21.7204 8.82964 22.1019 8.98917 22.3834 9.27228C22.6651 9.5554 22.8237 9.93927 22.8248 10.3396L22.8448 16.3445ZM18.6765 14.1395L17.0991 10.1734C17.091 10.1511 17.0804 10.1298 17.0676 10.1098L17.044 10.0701H17.0438C17.0329 10.0514 17.0197 10.034 17.0044 10.0186L16.9729 9.97896L16.9296 9.9432L16.8822 9.91947C16.869 9.9092 16.8544 9.90123 16.8387 9.89575L16.7796 9.86405V9.86388C16.7653 9.86157 16.7507 9.86157 16.7363 9.86388L16.6771 9.84404H16.4484L16.3813 9.86388C16.3683 9.86228 16.3549 9.86228 16.3419 9.86388L16.2828 9.89557L16.2236 9.91947C16.2083 9.93009 16.1937 9.94213 16.1803 9.95524L16.137 9.991L16.1014 10.0307V10.0305C16.0873 10.047 16.0741 10.0641 16.062 10.082V10.1217L16.0264 10.1851L13.6603 16.1342V16.1344C13.5959 16.2833 13.5946 16.4524 13.6573 16.6021C13.7198 16.7519 13.8406 16.8695 13.9916 16.9276C14.0614 16.9577 14.1365 16.9725 14.2124 16.9711C14.4532 16.9699 14.6696 16.8228 14.7606 16.5984L15.3995 14.9883H17.7656L18.4045 16.5984H18.4043C18.4968 16.8233 18.7145 16.9704 18.9564 16.9711C19.0311 16.972 19.1049 16.9571 19.1733 16.9276C19.3244 16.8695 19.4452 16.7519 19.5077 16.6021C19.5702 16.4524 19.5691 16.2833 19.5047 16.1344L18.6765 14.1395ZM15.849 13.7745L16.5549 12.0058L17.2568 13.7745H15.849Z" fill="currentColor" />
        </svg>

        <span :translate-params="{ current: getCurrentLanguage() }">{{ $gettext('Language: %{ current }', { current: getCurrentLanguage() }) }}</span>

        <IconCaret class="caret"></IconCaret>
      </button>

      <ul class="dropdown-menu">

        <li>
          <a class="dropdown-item translate" target="_blank" rel="noopener noreferrer" href="https://weblate.framasoft.org/projects/joinpeertube/main/">
            <span>{{ $gettext('Help to translate') }}</span>
          </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li v-for="(lang, locale) in availableLanguages" :key="locale">
          <a class="dropdown-item" :href="buildLocaleLink(locale)">{{ lang }}</a>
        </li>

      </ul>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'
  import { useGettext } from 'vue3-gettext'

  import IconCaret from './icons/IconCaret.vue'

  export default defineComponent({
    components: {
      IconCaret
    },

    computed: {
      availableLanguages () {
        const { available } = useGettext()

        return available
      }
    },

    mounted () {
      import('bootstrap/js/dist/dropdown')
        .then(Dropdown => new Dropdown.default(this.$el.querySelector('.dropdown-toggle')))
    },

    methods: {
      buildLocaleLink (locale) {
        return import.meta.env.BASE_URL + `${locale}`
      },

      getButtonTitle () {
        return this.$gettext('Change interface language')
      },

      getCurrentLanguage () {
        return this.$language.available[this.$language.current]
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';
  @import '../scss/_mixins.scss';

  #i18n {
    color: inherit;

    button {
      @include disable-default-button-behaviour;

      svg {
        max-height: 1.375rem;
        margin-inline-end: 0.5rem;
      }

      .caret {
        margin-inline-start: 0.5rem;
        margin-top: -2px;
      }
    }

    .dropdown-menu {
      max-height: 90vh;
      overflow-y: scroll;
    }

    .translate {
      font-weight: $font-semibold;
    }
  }
</style>
