<template>
  <div id="instances-list">

    <div class="jpt-container">
      <div class="filters mb-3">
        <form @change="onFormChange()">
          <fieldset>
            <legend>
              <span>{{ $gettext('Filter according to your preferences') }}</span>

              <span class="visually-hidden">{{ $gettext('Updating one of the fields will automatically update results below the form') }}</span>
            </legend>

            <div class="group">
              <label for="profile">{{ $gettext('Your profile') }}</label>

              <div id="profile" class="btn-group-toggle btn-group" role="radiogroup" tabindex="-1">
                <label class="btn btn-secondary" :class="{ active: profile === 'viewer' }">
                  <input v-model="profile" class="btn-check" type="radio" name="profile" value="viewer">
                  <span>{{ $gettext('Viewer') }}</span>
                </label>

                <label class="btn btn-secondary" :class="{ active: profile === 'video-maker' }">
                  <input v-model="profile" class="btn-check" type="radio" name="profile" value="video-maker">
                  <span>{{ $gettext('Video maker') }}</span>
                </label>
              </div>
            </div>

            <div v-show="isStreamEnabled()" class="group">
              <label for="is-streamer">{{ $gettext('Do live streams') }}</label>

              <div id="is-streamer" class="btn-group-toggle btn-group" role="radiogroup" tabindex="-1">
                <label class="btn btn-secondary" :class="{ active: isStreamer === 'yes' }">
                  <input v-model="isStreamer" class="btn-check" type="radio" name="is-streamer" value="yes">
                  <span>{{ $gettext('Yes') }}</span>
                </label>

                <label class="btn btn-secondary" :class="{ active: isStreamer === 'no' }">
                  <input v-model="isStreamer" class="btn-check" type="radio" name="is-streamer" value="no">
                  <span>{{ $gettext('No') }}</span>
                </label>
              </div>
            </div>

            <div class="group">
              <label for="themes" class="label-checkbox">{{ $gettext('Topics') }}</label>

              <div id="themes" class="checkboxes" role="group" tabindex="-1">

                <label v-for="theme in availableThemes" :key="theme.key">
                  <input :id="'themes-option-' + theme.key" v-model="themes" type="checkbox" name="themes" :value="theme.key">

                  <span></span>
                  <span>{{ theme.label }}</span>
                </label>
              </div>
            </div>

            <div class="group">
              <label for="profile">{{ $gettext('Sensitive videos') }}</label>

              <div id="nsfw" class="btn-group-toggle btn-group" role="radiogroup" tabindex="-1">
                <label class="btn btn-secondary" :class="{ active: nsfw === 'do_not_list' }">
                  <input v-model="nsfw" class="btn-check" type="radio" name="nsfw" value="do_not_list">
                  <span>{{ $gettext('Do not display') }}</span>
                </label>

                <label class="btn btn-secondary" :class="{ active: nsfw === 'blur' }">
                  <input v-model="nsfw" class="btn-check" type="radio" name="nsfw" value="blur">
                  <span>{{ $gettext('Blur') }}</span>
                </label>

                <label class="btn btn-secondary" :class="{ active: nsfw === 'no-opinion' }">
                  <input v-model="nsfw" class="btn-check" type="radio" name="nsfw" value="no-opinion">
                  <span>{{ $gettext('No opinion') }}</span>
                </label>

                <label class="btn btn-secondary" :class="{ active: nsfw === 'display' }">
                  <input v-model="nsfw" class="btn-check" type="radio" name="nsfw" value="display">
                  <span>{{ $gettext('Display') }}</span>
                </label>
              </div>
            </div>

            <div class="group">
              <label for="instance-languages" class="label-checkbox">{{ $gettext('Languages') }}</label>

              <div id="languages" class="checkboxes" role="group" tabindex="-1">

                <label v-for="language in availableLanguages" :key="language.key">
                  <input :id="'languages-option-' + language.key" v-model="languages" type="checkbox" name="languages" :value="language.key">

                  <span></span>
                  <span>{{ language.label }}</span>
                </label>
              </div>
            </div>

            <div v-show="isQuotaEnabled()" class="group">
              <label for="quota">{{ $gettext('Video space') }}</label>

              <select id="quota" v-model="quota" name="quota">
                <option value="1000000000">
                  {{ $gettext('At least 1GB') }}
                </option>

                <option value="5000000000">
                  {{ $gettext('At least 5GB') }}
                </option>

                <option value="20000000000">
                  {{ $gettext('At least 20GB') }}
                </option>

                <option value="50000000000">
                  {{ $gettext('At least 50GB') }}
                </option>
              </select>
            </div>
          </fieldset>
        </form>

        <div class="more">
          <p>
            <SafeHTML>
              {{
                $gettext('Are you looking for <strong>videos or channels?</strong> Go to <router-link to="/browse-content">this page</router-link>.', true)
              }}
            </SafeHTML>
          </p>

          <p class="small-description">
            <SafeHTML>
              {{
                $gettext('List created from <a rel="noopener" target="_blank" href="https://instances.joinpeertube.org">instances.joinpeertube.org</a>', true)
              }}
            </SafeHTML>

            <br />

            <SafeHTML>
              {{
                $gettext('Do you have a problem with a listed platform? <a href="mailto:rt+abuse-peertube@framasoft.org?body=Instance%20URL%3A%0AReason%3A%0AVideo%2FAccount%20URLs%3A%0A%0A%0A">Report a platform</a>', true)
              }}
            </SafeHTML>
          </p>
        </div>
      </div>

      <div id="instance-results" class="list">
        <div class="title d-flex align-items-baseline">
          <h2>
            <span>{{ $gettext('PeerTube platforms') }}</span>
          </h2>

          <span v-if="noResults" class="small-description" role="status">{{ $gettext('No results') }}</span>

          <span v-else-if="instances.length !== 0 && hasMoreResults" class="small-description" role="status">
            {{ $ngettext('More than %{ total }+. Add filters to find more!', '%{ total }+ results. Add filters to find more!', instances.length, { total: instances.length }) }}
          </span>

          <span v-else-if="instances.length !== 0" class="small-description" role="status">
            {{ $ngettext('%{ total } result', '%{ total } results', instances.length, { total: instances.length }) }}
          </span>
        </div>

        <Loading v-if="loadingAnimation"></Loading>

        <div :class="{ unloaded: !error && !noResults && instances.length === 0 }">
          <template v-for="(instance, i) in instances" :key="instance.host">
            <div class="instance">
              <instance-card
                :instance="instance" :is-video-maker="isVideoMaker()"
                :translated-languages="translatedLanguages" :translated-themes="translatedThemes"
              >
              </instance-card>
            </div>

            <div v-if="i === 3" class="scroll-up-button-container">
              <a :title="$gettext('Go back to beginning of the list')" class="scroll-up-button" href="#instance-results">
                <svg width="58" height="57" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="29.373" cy="28.5" r="28.5" fill="#F2690D" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9646 24.0972C29.6276 23.8083 29.1303 23.8083 28.7932 24.0972L16.3551 34.7584C15.7261 35.2975 14.7792 35.2247 14.24 34.5957C13.7009 33.9667 13.7738 33.0198 14.4027 32.4806L26.8408 21.8194C28.3014 20.5675 30.4565 20.5675 31.917 21.8194L44.3551 32.4806C44.9841 33.0198 45.0569 33.9667 44.5178 34.5957C43.9787 35.2247 43.0317 35.2975 42.4027 34.7584L29.9646 24.0972Z" fill="white" />
                </svg>
              </a>
            </div>

          </template>
        </div>

        <div v-if="error" class="message">
          <MascotDefeated></MascotDefeated>

          <p class="alert alert-danger">Sorry, but we cannot fetch the instances list. Please retry later.</p>
        </div>

        <div v-if="noResults" class="message">
          <MascotOh></MascotOh>

          <p class="alert alert-danger">{{ $gettext('Sorry, but we did not find any platform matching your filters.') }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  import axios from 'axios'
  import InstanceCard from './InstanceCard.vue'
  import Loading from './Loading.vue'
  import MascotDefeated from '../svg/mascot/defeated.svg'
  import MascotOh from '../svg/mascot/oh.svg'

  export default defineComponent({
    components: {
      InstanceCard,
      Loading,
      MascotDefeated,
      MascotOh
    },

    data () {
      return {
        error: false,
        noResults: false,
        hasMoreResults: false,
        loadingAnimation: false,

        instances: [],
        availableThemes: [
          { key: '1', label: this.$gettext('Music') },
          { key: '2', label: this.$gettext('Films') },
          { key: '3', label: this.$gettext('Vehicles') },
          { key: '4', label: this.$gettext('Art') },
          { key: '5', label: this.$gettext('Sports') },
          { key: '6', label: this.$gettext('Travels') },
          { key: '7', label: this.$gettext('Gaming') },
          { key: '8', label: this.$gettext('People') },
          { key: '9', label: this.$gettext('Comedy') },
          { key: '12', label: this.$gettext('How To') },
          { key: '13', label: this.$gettext('Education') },
          { key: '14', label: this.$gettext('Activism') },
          { key: '16', label: this.$gettext('Animals') },
          { key: '17', label: this.$gettext('Kids') },
          { key: '18', label: this.$gettext('Food') },
          // Put long labels at the end
          { key: '10', label: this.$gettext('Entertainment') },
          { key: '15', label: this.$gettext('Science & Technology') },
          { key: '11', label: this.$gettext('News & Politics') }
        ],
        translatedLanguages: {
          'en': this.$gettext('English'),
          'fr': this.$gettext('Français'),
          'ja': this.$gettext('日本語'),
          'eu': this.$gettext('Euskara'),
          'ca': this.$gettext('Català'),
          'cs': this.$gettext('Čeština'),
          'eo': this.$gettext('Esperanto'),
          'el': this.$gettext('ελληνικά'),
          'de': this.$gettext('Deutsch'),
          'it': this.$gettext('Italiano'),
          'nl': this.$gettext('Nederlands'),
          'es': this.$gettext('Español'),
          'oc': this.$gettext('Occitan'),
          'gd': this.$gettext('Gàidhlig'),
          'zh': this.$gettext('简体中文（中国）'),
          'pt': this.$gettext('Português (Portugal)'),
          'sv': this.$gettext('svenska'),
          'pl': this.$gettext('Polski'),
          'fi': this.$gettext('suomi'),
          'ru': this.$gettext('русский')
        },

        profile: 'viewer',
        themes: [],
        nsfw: 'blur',
        languages: [],
        quota: '5000000000',
        isStreamer: 'no',

        randomSortSeed: new Date().getTime()
      }
    },

    computed: {
      translatedThemes: function () {
        return this.availableThemes.reduce((previous, current) => {
          previous[current.key] = current.label

          return previous
        }, {})
      },

      availableLanguages: function () {
        const available = [
          {
            key: 'en',
            label: this.translatedLanguages.en
          }
        ]

        const found = this.translatedLanguages[this.getCurrentShortLocale()]
        if (found && this.getCurrentShortLocale() !== 'en') {
          available.push({
            key: this.getCurrentShortLocale(),
            label: found
          })
        }

        return available
      }
    },

    mounted () {
      this.loadRouteParams()

      this.fetchInstances(false)
    },

    methods: {

      onFormChange () {
        // Wait for v-model to be updated
        // https://github.com/vuejs/vue/issues/293#issuecomment-265716984
        setTimeout(() => {
          console.log('Updating instances list.')

          this.fetchInstances(true)
        })
      },

      isVideoMaker () {
        return this.profile === 'video-maker'
      },

      isQuotaEnabled () {
        return this.isVideoMaker()
      },

      isStreamEnabled () {
        return this.isVideoMaker()
      },

      fetchInstances (updateParams = false) {
        if (updateParams) this.updateRouteParams()

        this.instances = []

        this.noResults = false
        this.hasMoreResults = false
        this.loadingAnimation = true

        const params = {
          start: 0,
          count: 25,
          healthy: true,
          customizations: 3,
          sort: '-customizations',
          randomSortSeed: this.randomSortSeed
        }

        if (this.profile === 'video-maker') params.signup = true
        if (this.themes.length !== 0) params.categoriesOr = this.themes
        if (this.languages.length !== 0) params.languagesOr = this.languages
        if (this.isQuotaEnabled()) params.minUserQuota = this.quota
        if (this.isStreamEnabled() && this.isStreamer === 'yes') params.liveEnabled = true

        if (this.nsfw !== 'no-opinion') {
          params.nsfwPolicy = [ this.nsfw ]

          if (this.nsfw === 'blur') {
            // Also display instances that hide NSFW content if the blur filter is selected
            params.nsfwPolicy.push('do_not_list')
          }
        }

        const options = {
          method: 'GET',
          params
        }

        axios('https://instances.joinpeertube.org/api/v1/instances', options)
          .then(response => {
            this.instances = response.data.data

            if (this.instances.length === 0) this.noResults = true

            if (response.data.total > 25) this.hasMoreResults = true
          })
          .catch(err => {
            console.error(err)
            this.error = true
          })
          .finally(() => {
            this.loadingAnimation = false
          })
      },

      loadRouteParams () {
        const query = this.$route.query

        if (query.profile) this.profile = query.profile
        if (query.themes) this.themes = this.toArray(query.themes)
        if (query.nsfw) this.nsfw = query.nsfw
        if (query.languages) this.languages = this.toArray(query.languages)
        if (query.quota) this.quota = query.quota
        if (query.isStreamer) this.isStreamer = query.isStreamer
      },

      updateRouteParams () {
        this.$router.push({
          query: {
            profile: this.profile,
            themes: this.themes,
            nsfw: this.nsfw,
            languages: this.languages,
            quota: this.quota,
            isStreamer: this.isStreamer
          },
          params: { skipScroll: true }
        })
      },

      toArray (value) {
        if (Array.isArray(value)) return value
        if (typeof value === 'number' || typeof value === 'string') return [ value ]

        return []
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';
  @import '../scss/_mixins.scss';
  @import '../scss/_bootstrap-mixins.scss';

  #instances-list {

    > .jpt-container {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-up(lg) {
      > .jpt-container {
        flex-wrap: nowrap;
      }

      .filters,
      .list {
        max-width: 600px;
        width: 100%;
      }
    }

    legend,
    h2 {
      @include proza;
      @include font-size(1.125rem);

      font-weight: $font-bold;
      margin-bottom: 2rem;
      line-height: inherit;
    }

    .filters {
      margin: 0;
      margin-inline-end: 2rem;

      form {
        .group {
          @include margin-bottom(2rem);

          display: flex;
          align-items: center;

          > label {
            min-width: 120px;
            margin: 0;
            margin-inline-end: 10px;

            &.label-checkbox {
              align-self: flex-start;
            }
          }

          @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: flex-start;

            > label {
              font-weight: $font-semibold;
              margin-bottom: 5px;
            }
          }
        }

        .checkboxes {
          > label {
            min-width: 140px;
            margin-inline-end: 5px;
          }
        }

        select {
          max-width: 280px;
          width: 100%;
          height: 35px;
          line-height: 21px;
        }

        .btn-group-toggle {

          .btn {
            color: $main-font-color;
            background-color: transparent;
            border-color: $orange-main;
            padding: 8px 16px;
            transition: none;
            display: flex;
            align-items: center;

            &:hover {
              background-color: $beige-500;
            }

            &:focus-within {
              box-shadow: 0 0 0 .2rem #ADB5BD;
            }

            &.active {
              color: #fff;
              font-weight: $font-bold;
              background-color: $orange-main;
              cursor: default;
            }
          }
        }
      }

      .more > * {
        @include font-size-14px;
        @include adapt-link-size-14px;
      }
    }

    .list {
      > .title > .small-description {
        @include font-size-14px;
        @include adapt-link-size-14px;

        margin-inline-start: 10px;
      }
    }

    .message {
      svg {
        max-width: 100px;
        height: auto;
        margin-bottom: 1rem;
      }
    }

    .scroll-up-button-container {
      position: sticky;
      top: 85vh;

      > a {
        position: absolute;
        right: 0;
        width: 50px;
        height: 50px;

        @include media-breakpoint-up(xxl) {
          right: -75px;
        }
      }
    }
  }
</style>
