<template>
  <accordion-element id="How does PeerTube count views?">
    <template #title>
      {{ $gettext('How does PeerTube count views?') }}
    </template>

    <div>
      <p>
        {{ $gettext('The web browser generates a random string to identify the viewer during the browser session and periodically notifies the server that a user is watching the video.') }}
        {{ $gettext('By default, a view is counted after 10 seconds of viewing (or 50% of the video duration if the duration is less than 10 seconds).') }}
        {{ $gettext('Views are buffered, so don\'t panic if the view counter stays the same after you watched a video.') }}
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
