<template>
  <div>
    <client-only>
      <vue-progress-bar></vue-progress-bar>
    </client-only>

    <header-component></header-component>

    <div id="main-content">
      <router-view></router-view>
    </div>

    <footer-component></footer-component>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'
  import { useGettext } from 'vue3-gettext'

  import HeaderComponent from './components/Header.vue'
  import FooterComponent from './components/Footer.vue'

  import { buildHead } from './shared/head'
  import { getDirection } from './shared/i18n'
  import { useHead } from '@vueuse/head'
  import ClientOnly from './components/ClientOnly.vue'

  export default defineComponent({
    name: 'App',

    components: {
      ClientOnly,

      HeaderComponent,
      FooterComponent
    },

    setup () {
      const { $gettext, current } = useGettext()

      const locale = current.replace('_', '-')

      useHead({
        htmlAttrs: {
          lang: locale,
          dir: getDirection(locale)
        },

        ...buildHead({
          description: $gettext(
            'A free software to take back control of your videos! With more than %{ videos } hosted videos, viewed more than %{ views } millions times and %{ users } users, PeerTube is the decentralized free software alternative to videos platforms developed by Framasoft',
            {
              videos: Number(600000).toLocaleString(locale),
              views: Number(70).toLocaleString(locale),
              users: Number(150000).toLocaleString(locale)
            }
          ),

          image: import.meta.env.VITE_URL + '/img/card-opengraph.jpg'
        }),
      })
    },

    mounted() {
      if (this.$Progress) this.$Progress.finish()
    },

    created() {
      if (this.$Progress) {
        this.$Progress.start()

        this.$router.beforeEach((_to, _from, next) => {
          this.$Progress.start()
          next()
        })

        this.$router.afterEach(() => {
          this.$Progress.finish()
        })
      }
    }
  })
</script>
